* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #3a3a40;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
}
main {
  padding-top: 50px;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: red;
  z-index: 99;
  border-bottom: 1px solid black;
}
.nav-list {
  display: flex;
  margin-right: 1rem;
}
ul {
  list-style: none;
}
.nav-list a {
  display: block;
  font-size: 1rem;
  padding: 0.8rem;
}
  a {
    text-decoration: none;
    color: white;
  }
  .welcome-section {
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    }
    h5 {
      font-weight: 200;
    font-style: italic;
    color: #be3144;
    }
  .projects-section {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 2rem 2rem 5rem 2rem;
  }
  .projects-section h1 {
    text-decoration: underline;
    padding: 30px 0;
  }
  .project-name {
    background-color: #3a3a40;
  }
  .project-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
  }
  .nav-arrow {
    font-size: 2rem;
  }
  .nav-img {
    width: 10vw;
    height: 6vw;
    object-fit: cover;
    cursor: pointer;
    margin: 0 10px;
    opacity: 0.5;
  }
  .nav-img:hover {
    opacity: 1;
  }
  .carousel-content {
    text-align: center;
    margin: 0 5vw;
  }
  .carousel-content img {
    width: 50vw;
    height: 30vw;
    object-fit: cover;
  }
  .carousel-content p {
    background-color: #3a3a40;
    padding: 10px 0;
    margin: 0;
  }
  .qr-code {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .profile-link {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}
.profile-link:hover {
  transform: translateY(6px);
}
h2 {
    text-align: center;
    padding-bottom: 150px;
    padding-top: 150px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .social-section {
    display: flex;
    flex-direction: column;
    height: 90vh;
  }
  .social-links {
    width: 80vw;
    min-width: 300px;
    max-width: 1000px;
    margin: 0 auto;
  }
  .social-link-batch {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 3rem;
    width: 100%;
    min-width: 150px;
    margin: auto auto;
    text-align: center;
  }
  i {
    padding: 0 5px;
  }
  .divider {
    width: 100%;
    height: 2px;
    background-color: red;
  }
  footer {
    height: 10vh;
  }
  .footertxt{
    color: white;
    padding: 20px 5px;
  }