body {
    background-color: lightblue;
}
h5, h6 {
    text-align: right;
    margin: 10px 0 0 0;
}
#wonScore, #lostScore, #streakScore {
    padding-right: 20px;
}
h1, #instruction {
    text-align: center;
}
#game-ui {
    height: 95vh;
}
#attempt-one-area, #attempt-two-area, #attempt-three-area, #attempt-four-area, #attempt-five-area,  #attempt-six-area,
#btns-line-one, #btns-line-two, #btns-line-three {
    margin: 10px;
    display: flex;
    justify-content: center;
} 
input {
    text-align: center;
    border: lightgrey;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 24px;
}
#submitdiv {
    display: flex;
    justify-content: center;
}
#submit {
    margin: 40px;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    background-color: blue;
    color: white;
}
#playAgain {
    margin: 40px;
    border: none;
    border-radius: 20px;
    width: 140px;
    height: 40px;
    background-color: blue;
    color: white;
    display: none;
}
button:hover {
    cursor: pointer;
}
.letters {
    background-color: lightgrey;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 0 10px;
}
#divider {
    background-color: black;
    height: 1px;
    width: 100%;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
}