body {
  background-color: #1b1b32;
  color: white;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  width: 100%;
}
h1 {
  margin: 10px;
}
.box1, .box3 {
  width: 50%;
  background-color: #3b3b4f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
}
.box11 {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
  padding: 0 10px;
  border: none;
}
.box3 {
  height: 55vh;
}
.i1 {
  width: 20px;
  height: 30px;
  font-size: 24px;
  margin: 5px 10px;
  text-align: center;
  background-color: black;
  color: white;
}
label {
  padding-top: 10px;
}
.inputLetters {
  width: 320px;
  font-size: 24px;
  margin: 10px 10px;
  text-align: center;
  letter-spacing: 10px;
  background-color: black;
  color: white;
}
.clearBtn {
  background-color: lightgreen;
  margin: 15px;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}
.btn {
  background-color: #feac32;
  margin: 15px;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}
.box31 {
  display: flex;
  flex-direction: row;
  width: 95%;
}
p {
  margin-bottom: 5px;
}
#infoLetters {
  height: 4vh;
  width: 20%;
  margin: 0;
  padding-top: 10px;
  text-align: center;
  background-color: black;
}
#infoLength1 {
  height: 4vh;
  width: 20%;
  padding-left: 50px;
}
#infoLength2 {
  height: 4vh;
  width: 20%;
}
#result {
  height: 40vh;
  width: 95%;
  text-align: left;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-all;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1b1b32;
}
#divider {
  background-color: white;
  width: 100%;
  height: 1px;
}
footer p {
  margin: 5px 0;
  overflow: hidden;
}
footer a {
  text-decoration: none;
}
@media screen and (max-width: 500px){
  body {
    margin: 0;
    padding: 0;
  }
  main {
    margin: 0;
  }
  .inputLetters{
    width: 96%;
  }
  #infoLetters {
    text-align: center;
    width: 25%;
    margin: 0;
    padding: 0;
    padding-top: 15px;
  }
  #infoLength1 {
    padding-left: 20px;
  }
  .box1,.box3 {
    width: 90%;
  }
}