body {
  margin: 0;
  background-color: #172f53;
  color: white;
}
.image {
  max-height: 100vh;
  width: 100%;
  padding-top: 31px;
}
nav {
  position:fixed;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  border-bottom: 1px solid lightgray;
  background-color: #172f53;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.longline {
  width: 20%;
  min-width: 138px;
  float: left;
  height: 30px;
}
.shortline {
  float: left;
  height: 30px;
  width: 16%;
}
ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 7px 6px;
  text-decoration: none;
  font-size: 14px;
  transition: 0.5s;
}
ul.topnav li a:hover:not(.active) {
  background-color: #c9e4ee;
  color: #172f53;
}
ul.topnav li a.active {
  background-color: #c9e4ee;
  color: #172f53;
  cursor: default;
}
.social-link {
  text-align: center;
  padding-bottom: 50px;
}
.fb-logo {
  height: 55px;
  border-radius: 11px;
  transition: transform 0.3s ease-out;
}
.fb-logo:hover {
  transform: translateY(8px);
}
.emoji {
  width: 20%;
  font-size: 30px;
  text-align: center;
  float: left;
}
.divider {
  float: left;
  height: 2px;
  width: 100%;
  background-color: gray;
  margin-bottom: 20px;
}
.playpause {
  color: white;
  background-color: #172f81;
  cursor: pointer;
  font-size: 30px;
  width: 10%;
  display: block;
  border-radius: 11px;
  margin: 0 auto;
}
.current-date {
  text-align: center;
  font-size: 20px;
}
@media screen and (max-width: 660px) {
  nav {
    position:relative;
  }
  ul.topnav li {
    float: none;
    width: 100%;
    background-color: #172f53; 
    border-bottom: 1px solid lightgray;
  }
  .social-link {
    padding-top: 550px;
    padding-bottom: 50px;
  }
  h1{
    font-size: 36px;
  }
  a{
    color: white;
  }
  .image{
    position: fixed;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    padding-top: 0;
    z-index: -1;
  }
}